*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2f2f2f;
    font-family: sans-serif;
    outline: none;
}
.container{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;

}
.calculator{
   background-color:#808080;
   padding: 15px;
   border-radius: 30px;
   box-shadow: inset 5px 5px 12px #2f2f2f,
                     5px 5px 12px rgba(0,0,0,.036);
    display: grid;
    grid-template-columns: repeat(4,80px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #808080;   
    box-shadow: inset -5px -5px 12px #2f2f2f,
                inset  5px 5px 12px rgba(0,0,0,.036);
    border: none;      
    border-radius: 30px;
    color: rgb(12, 9, 9);
    font-size: 60px;
    text-align: end;
    margin: auto;
    margin-top: 40px; 
    margin-bottom: 30px;
    padding: 20px;     
}
button{
     height: 50px;
     width: 50px;
     background-color: #808080;
     box-shadow: -5px -5px 12px  #2f2f2f,
                  5px 5px 12px rgba(0,0,0,.036);
     border: none;
     border-radius: 50%;  
     margin: 8px;
     font-size: 16px;          
}
.equal{
      width: 115px;
      border-radius: 40px;
      background-color: #808080;
      box-shadow: 5px -5px 12px  #2f2f2f,
                  5px 5px 12px rgba(0, 0, 0, 0.036);
}
